@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import "assets/scss/bootstrap-4-grid/grid.scss";

:root {
    --global--font-primary: 'Open Sans', sans-serif;
    --global--font-secondary: 'Open Sans', sans-serif;
    --global--color-background: #E1E1E1;
    --secondary--color-background: #F2F2F2;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
}
.listings {
  padding-top: 40px;
  background: white;
  
}
.property-listing {
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: var(--secondary--color-background);
  &__title {
    padding-top: 1.6em;
    padding-bottom: 1.6em;
  }
}

.card {
  padding-bottom: 30px;
  img {
    max-width: 100%;
  }
  &__myStats {
    font-size: 18px;
    font-weight: 600;
  }
  &__myPrice {
    font-size: 22px;
    font-weight: 700;
  }
  &__myAddress {
    font-size: 16px;
    color: #282828;
  }
  &__myListDate {
    color: #8C8C8C;
    font-size: 14px;
  }
  &__toggleIcon {
    position: absolute;
    right: 13px;
    top: 18px;
    cursor: pointer;
    &:hover {
      .card__icon-filled {
        opacity: 0.5;
      }
    }
    &.favorited {
      .card__icon-filled {
        opacity: 1;
        &:hover {
          
        }
      }
    }
  }
  &__icon-outline {

  }
  &__icon-filled {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity .2s;
    z-index: 1;
  }
}
.caption {
  position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}


// The classic 
.aspect-ratio {
  position: relative;
  width: 100%;
  margin-bottom: 19px;
  &:after {
    content: "";
    display: block;
    padding-bottom: 90%;
  }
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  img {
    object-fit: cover;
    height: 100%;
  }
}